.grid__image {
    width: 284px;
    height: 213px;
}

@media screen and (max-width: 768px) {
    .grid__image {
        width: max-content;
        height: max-content;
    }
}

@media screen and (max-width: 400px) {
    .grid__image {
        width: 288px;
    }
}