.intro__text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    max-width: 720px;
    margin: 0 0 118px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        margin: 0 auto 90px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        margin-bottom: 90px;
    }
}