.cover__info-title {
  color: #fff;
  font-size: 72px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__info-title {
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }
}