.grid__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 1184px;
    row-gap: 16px;
    column-gap: 16px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 768px) {
    .grid__images {
        max-width: 720px;
    }
} 

@media screen and (max-width: 320px) {
    .grid__images {
        row-gap: 12px;
        justify-content: center;
    }
}