.cover {
  background-image: url(../../images/cover__background.png);
  background-repeat: no-repeat;
  display: flex;
  margin: 90px auto;
  min-height: 740px;
  position: relative;
  width: calc(100% - 96px);
}
