.places__info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.63;
  color: #fff;
  font-size: 18px;
  grid-area: info;
  
}

@media screen and (max-width: 768px) {
  .places__info {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 760px) {
  .places__info {
    max-width: 450px;
  }
}

@media screen and (max-width: 492px) {
  .places__info {
    margin: 0 auto;
    max-width: 375px;
  }
}

@media screen and (max-width: 400px) {
  .places__info {
    max-width: 288px;

  }
}