.places__location {
  display: grid;
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image info"
    "button info";
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin: 0 auto;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1140px) {
  .places__location {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__location {
    margin: 0;
  }
}


@media screen and (max-width: 400px) {
  .places__location {
    grid-template-areas:
    "title"
    "website"
    "image"
    "info"
    "info"
    "button";
    grid-template-columns: 1fr;
    grid-gap: 32px;

  }
}