.place {
  display: grid;
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image info"
    "button .";
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  width: calc(100% - 296px);
}
