.places__website-url-heading {
  color: #fff;
  font-size: 18px;
  margin: 8px 0 0 0;
  line-height: 1.22;
}

@media screen and (max-width: 1020px) {
  .places__website-url-heading {
      max-width: 316px;
  }
}

@media screen and (max-width: 400px) {
  .places__website-url-heading {
      max-width: 288px;
  }
}